body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list{
    text-align:left;
}

nav {
    background-color: #4caaad;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.container {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 20px auto;
}

p {
    color: #000000;
    line-height: 1.6;
}

section {
    padding: 20px 0;
}
